* {
    margin: 0px;
    padding: 0px;

}

.fixedimg {
    background-image: url('./assets/Home/projectImage-min.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}